pkgbase = ds4to360xboxdrv
	pkgdesc = Modernized DualShock 4/3 and DualSense to Xbox 360 controller emulator using xboxdrv and evsieve with GTK4/Libadwaita GUI
	pkgver = 5.1.0
	pkgrel = 1
	url = https://github.com/Pakrohk/ds4to360xboxdrv
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = systemd
	depends = xboxdrv
	depends = polkit
	depends = python-evdev
	optdepends = evsieve: For better device grabbing and exclusive control
	backup = etc/ds4to360.conf
	source = ds4to360xboxdrv-5.1.0.tar.gz::https://github.com/Pakrohk/ds4to360xboxdrv/archive/v5.1.0.tar.gz
	sha256sums = SKIP

pkgname = ds4to360xboxdrv
