# Sony DualShock 4 (PS4)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="05c4", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="09cc", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0ba0", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0da6", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"

# Sony DualSense (PS5)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0ce6", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0df2", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"

# Sony DualShock 3 (PS3)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0268", KERNEL=="event*", MODE="0660", GROUP="input", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"
