ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="09cc|0268|0ce6", KERNEL=="event*", MODE="0660", TAG+="systemd", ENV{SYSTEMD_WANTS}="ds4-xboxdrv.service"
