# PlayStation DualShock 4 (PS4)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="05c4", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="09cc", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0ba0", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0da6", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"

# PlayStation DualSense (PS5)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0ce6", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0df2", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"

# PlayStation DualShock 3 (PS3)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0268", KERNEL=="event*", TAG+="uaccess", TAG+="systemd", ENV{SYSTEMD_WANTS}="pnp.service"
