[Unit]
Description=DualShock 4 to Xbox 360 Controller Mapping Service
After=network-online.target bluetooth.target

[Service]
User=niku # This will be replaced by the installer script
Group=niku # This will be replaced by the installer script
Type=simple
ExecStart=/usr/local/bin/ds4-xboxdrv.sh
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
TimeoutStartSec=60s
TimeoutStopSec=5s
KillMode=control-group

[Install]
WantedBy=multi-user.target
