[Desktop Entry]
Name=PNP
Comment=Emulate Xbox 360 controller using DualShock 4
Exec=pnp-gui
Icon=input-gaming
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;Game;
