#!/usr/bin/make -f

export PYBUILD_NAME=pnp

%:
	dh $@ --with python3

override_dh_auto_build:
	rye build --wheel --clean

override_dh_auto_install:
	python3 -m installer --destdir=debian/pnp --prefix=/usr dist/*.whl
	# Fix shebangs
	sed -i '1s|#!.*|#!/usr/bin/python3|' debian/pnp/usr/bin/pnp-*
	# Install system files
	install -Dm644 pnp.service debian/pnp/usr/lib/systemd/system/pnp.service
	sed -i "s|ExecStart=.*|ExecStart=/usr/bin/pnp-backend|" debian/pnp/usr/lib/systemd/system/pnp.service
	install -Dm644 99-pnp.rules debian/pnp/usr/lib/udev/rules.d/99-pnp.rules
	install -Dm644 pnp.desktop debian/pnp/usr/share/applications/pnp.desktop
	install -Dm644 pnp.conf.example debian/pnp/etc/pnp/pnp.conf
